<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"

    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "mx.cenet.Contacto"
    version     = "1.0.0"
    versionCode = "1" >

  <!-- versionCode is optional and Android only -->

  <preference name="phonegap-version" value="3.7.0" />

  <name>Contactos</name>

  <description>
    Aplicación de prueba para contactos y archivos
  </description>

  <author href="http://igitsoft.com" email="info@igitsoft.com">
    Carlos Celma
  </author>

  <icon src="img/icon.png" />

  <gap:plugin name="org.apache.cordova.contacts" />
  <gap:plugin name="org.apache.cordova.file" />

</widget>